.about {
  padding: 65px 140px 21px 133px;
}

.about__wrap {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 444px 1fr;
  column-gap: 64px;
}

.about__photo {
  width: 445px;
  height: 465px;
  background: url("../img/about.jpg") 0 0 no-repeat;
}

.about__text {
  @include reset-indents;

  &:not(:last-child) {
    padding-bottom: 30px;
  }
}
