.application {
  background-color: $color-bazaar;
}

.application__wrap {
  display: flex;
  padding: 0 50px 0 132px;
}

.application__form-wrap {
  margin-right: 20px;
  padding-top: 50px;
}

.application__map {
  position: relative;
}

.application__map-iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.application__img {
  display: block;
}

