.review {
  padding-top: 65px;
  padding-bottom: 41px;
}

.review__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.review__blockquote {
  @include reset-indents;
  width: 407px;
  margin-right: 20px;
}

.review__text {
  @include reset-indents;
  padding-bottom: 30px;
}

.review__user {
  font-style: normal;
  text-transform: uppercase;
}

.review__photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 407px;
}

.review__img {
  display: block;
  padding-bottom: 24px;
}

.review__btn-arrow {
  @include reset-indents;
  position: absolute;
  top: 277px;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background-color: $color-oriental-pink;

  &--right {
    right: 82px;
  }

  &--left {
    left: 82px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.review__icon-arrow {
  fill: $color-romance;

  &--left {
    transform: rotate(180deg);
  }
}
