.stats {
  padding-top: 87px;
  padding-bottom: 81px;
  background-color: $color-bazaar;
}

.stats__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px 75px;
}

.stats__item {
  text-align: center;
}

.stats__number {
  font-size: 50px;
  line-height: 62px;
  color: $color-white;
}

.stats__text {
  @include reset-indents;
  padding-top: 6px;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-white;
}
