.stats {
  padding-top: 87px;
  padding-bottom: 81px;
  background-color: $color-bazaar;
}

.stats__list {
  @include reset-list;
  // display: flex;
  // margin-right: -50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 193px;
}

.stats__item {
  // width: calc(33% - 50px);
  // margin-right: 50px;
  text-align: center;
}

.stats__number {
  font-size: 50px;
  line-height: 62px;
  color: $color-white;
}

.stats__text {
  @include reset-indents;
  padding-top: 6px;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-white;
}
