.team {
  padding: 49px 0 80px;
  background-color: $color-dust-storm;
}

.team__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 38px;
  padding-top: 46px;
  padding-bottom: 40px;
}

.team__img {
  width: 320px;
  height: 249px;
  object-fit: cover;
}

.team__about {
  @include reset-indents;
}

.team__process-list {
  @include reset-list;
  counter-reset: counter-team;
  display: grid;
  grid-template-columns: repeat(4, 285px);
  gap: 30px 20px;
  padding-top: 34px;
  text-align: center;
}

.team__process-item {
  position: relative;
  padding-top: 80px;

  &::before {
    counter-increment: counter-team;
    content: counter(counter-team);
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    color: $color-white;
    background-color: $color-bazaar;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}

.team__process-about {
  @include reset-indents;
}
