body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  color: $color-cab-sav;
  background-color: $color-wisp-pink;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
