$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-white: #ffffff;
$color-black: #000000;
$color-wisp-pink:#efe6e4;
$color-cab-sav: #533738;
$color-rose-white: #f6ede9;
$color-oriental-pink: #cc8b86;
$color-bazaar: #8d7370;
